{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <form action="/createMeeting" method="POST">
            <label>Start date:</label><br>
            <input type="date" name="startDate" value="">
            <input type="time" name="startTime" value=""><br>
            <label>End date:</label><br>
            <input type="date" name="endDate" value="">
            <input type="time" name="endTime" value=""><br>
            <label>Description:</label><br>
            <textarea name="description" rows="5" cols="20"></textarea><br>
            <input type="submit" value="Schedule">
        </form>
    </div>
{% endblock %}