{% trans_default_domain 'FOSUserBundle' %}

<div class="form-group">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-control'}}) }}
    {{ form_widget(form) }}
    <div>
        <input class="form-control btn btn-secondary" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>
